@{
    ViewData["Title"] = "Access denied";
}

<div class="container-fluid" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h5 class="text-danger">Access Denied</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="text-danger">
                        Access to requested resource is denied. Contact the system administrator
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

